<app-header></app-header>
<div class="contenido" id="terminos-uso">
    <h2>Términos de Uso</h2><br>

    <section>
        <h3>Introducción</h3>
        <p>
            Bienvenido a nuestros Términos de Uso. Estos términos rigen su uso de
            <strong>gastoInteligente</strong>. Al acceder o utilizar nuestro sitio web, usted
            acepta cumplir con estos términos y condiciones. Si no está de acuerdo con
            alguno de estos términos, no utilice nuestro sitio web.
        </p>
    </section><br>

    <section>
        <h3>Uso Aceptable</h3>
        <p>
            Usted acepta utilizar nuestro sitio web de manera legal, ética y
            responsable. Esto incluye, entre otras cosas, respetar los derechos de
            propiedad intelectual de otros usuarios y terceros, no realizar
            actividades ilegales o fraudulentas, y no interferir con el funcionamiento
            adecuado de nuestro sitio web.
        </p>
    </section><br>

    <section>
        <h3>Propiedad Intelectual</h3>
        <p>
            Todos los derechos de propiedad intelectual relacionados con el contenido
            y los materiales en <strong>gastoInteligente</strong> son propiedad exclusiva de
            esta empresa. Usted acepta no copiar, modificar, distribuir o reproducir
            de ninguna manera el contenido sin nuestro consentimiento previo por
            escrito.
        </p>
    </section><br>

    <section>
        <h3>Limitaciones De Responsabilidad</h3>
        <p>
            <strong>gastoInteligente</strong> se proporciona "tal cual" y no ofrecemos
            garantías de ningún tipo con respecto a su disponibilidad, exactitud o
            confiabilidad. En ningún caso seremos responsables de cualquier daño
            directo, indirecto, incidental, especial o consecuente que surja del uso o
            la imposibilidad de uso de nuestro sitio web.
        </p>
    </section><br>

    <section>
        <h3>Enlaces a Terceros</h3>
        <p>
            <strong>gastoInteligente</strong> puede contener enlaces a sitios web de terceros
            que no están bajo nuestro control. No somos responsables del contenido,
            las políticas de privacidad o las prácticas de esos sitios web. El uso de
            sitios web de terceros está sujeto a sus propios términos y condiciones.
        </p>
    </section><br>

    <section>
        <h3>Modificaciones</h3>
        <p>
            Nos reservamos el derecho de modificar, suspender o interrumpir cualquier
            aspecto de "Nombre de tu Sitio Web" en cualquier momento y sin previo
            aviso. No seremos responsables ante usted ni ante terceros por cualquier
            modificación, suspensión o interrupción del sitio web.
        </p>
    </section><br>

    <section>
        <h3>Ley Aplicable</h3>
        <p>
            Estos Términos de Uso se rigen por las leyes del [país o región].
            Cualquier disputa relacionada con su uso de "Nombre de tu Sitio Web"
            estará sujeta a la jurisdicción exclusiva de los tribunales del [ciudad o
            región].
        </p>
    </section><br>

    <section>
        <h3>Contacto</h3>
        <p>
            Si tiene alguna pregunta sobre estos Términos de Uso, comuníquese con
            nosotros a través de
            <a href="mailto:gastospersonalesproyect@outlook.es">gastospersonalesproyect&#64;outlook.es</a>.
        </p>
    </section>
</div>

<app-footer></app-footer>