<app-header></app-header>
<div class="header"></div>
<div class="container">
    <section>
        <div class="about-us">
            <div class="row">
                <div class="col-4">

                    <h1>Sobre nosotros</h1>
                </div>
            </div>
            <div class="wrapper">
                <div class="content">
                    <p>
                        En gastoInteligente, creemos firmemente en el poder de la
                        gestión financiera personal para transformar vidas. Desde nuestro
                        inicio, nos hemos comprometido a proporcionar herramientas y
                        recursos innovadores que ayuden a las personas a tomar el control de
                        sus finanzas y a alcanzar sus metas financieras.
                    </p>
                    <p>
                        Nuestro equipo está formado por apasionados expertos en finanzas,
                        tecnología y diseño, unidos por una misión común: simplificar la
                        gestión de gastos y hacer que el camino hacia la libertad financiera
                        sea accesible para todos.
                    </p>
                    <div id="second-paragraph" style="display: block">
                        <h2>Nuestra Visión</h2>
                        <p>
                            Queremos ser el compañero de confianza en el viaje hacia una vida
                            financiera saludable. Nos esforzamos por ofrecer una plataforma
                            intuitiva y fácil de usar que empodere a nuestros usuarios para
                            tomar decisiones informadas sobre sus gastos, ahorrar para el
                            futuro y alcanzar sus sueños.
                        </p>
                        <h2>Nuestro Compromiso</h2>
                        <ul>
                            <li>
                                Proporcionar herramientas y recursos de alta calidad que
                                faciliten la gestión de gastos.
                            </li>
                            <li>
                                Mantenernos actualizados con las últimas tendencias y
                                tecnologías en finanzas personales.
                            </li>
                            <li>
                                Ofrecer un servicio al cliente excepcional, atendiendo las
                                necesidades de nuestros usuarios con prontitud y
                                profesionalismo.
                            </li>
                            <li>
                                Promover la educación financiera y la alfabetización en todo
                                momento.
                            </li>
                        </ul>
                        <h2>Tu Éxito Es Nuestro Éxito</h2>
                        <p>
                            En última instancia, medimos nuestro éxito por el éxito de
                            nuestros usuarios. Nos enorgullece ver cómo cada persona que
                            utiliza nuestra plataforma logra sus objetivos financieros, ya sea
                            salir de deudas, crear un fondo de emergencia, comprar una casa o
                            planificar su jubilación.
                        </p>
                        <p>
                            Únete a nosotros en este emocionante viaje hacia la libertad
                            financiera. Juntos, podemos alcanzar grandes cosas.
                        </p>
                        <p>¡Gracias por confiar en gastoInteligente!</p>
                    </div>

                    <div class="button">
                        <a (click)="mostrarParrafo()"> {{ mostrarTextoCompleto ? 'Ocultar texto' : 'Leer más' }}</a>
                    </div>
                </div>
                <div class="image-section">
                    <img src="../../../assets/pexels-fauxels-3184339.jpg" />
                </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>