<div class="container-fluid py-5 tres">
    <div class="container py-5 terceraParte ">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Regístrate Para Obtener Los Siguientes
                    Servicios
                </h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="service-item ">
                    <div class="service-img mx-auto ">

                        <img class="rounded-circle w-100 h-100 p-2 rotate-on-hover" src="../../../../assets/cal.jpeg"
                            style="object-fit: cover;">
                    </div>
                    <div class="position-relative text-center bg-light rounded p-3 pb-5 " style="margin-top: -75px;">
                        <h4 class="font-weight-semi-bold mt-5 mb-3 pt-5">Seguimiento De Gastos Simplificado</h4>
                        <p>Nuestra plataforma te permite registrar tus gastos diarios de manera rápida y sencilla en la
                            pestaña de <a [routerLink]="['/calculadora']" class="enlaces">Calculadora</a>. Con
                            solo unos pocos clics, podrás ingresar tus gastos en diferentes
                            categorías y mantener un seguimiento detallado de tus finanzas personales. Olvídate de
                            complicadas hojas de cálculo y registros manuales. Con nuestra interfaz intuitiva,
                            administrar tus gastos nunca ha sido tan fácil.
                        </p>

                    </div>
                </div>
                <br>
                <br>
                <div class="service-item">
                    <div class="service-img mx-auto">
                        <img class="rounded-circle w-100 h-100  p-2 rotate-on-hover" src="../../../../assets/casa.jpg"
                            style="object-fit: cover;">
                    </div>
                    <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                        <h4 class="font-weight-semi-bold mt-5 mb-3 pt-5">Planes De Ahorro Personalizados</h4>
                        <p>Te ofrecemos la oportunidad de planificar tus compras de manera inteligente y efectiva. En la
                            pestaña de <a [routerLink]="['/planes-ahorro']" class="enlaces">Plan de Ahorro</a>,
                            ¿tienes en mente algún
                            artículo que deseas comprar, como un
                            nuevo dispositivo electrónico, un viaje o cualquier otro producto o servicio? Cuéntanos qué
                            es lo que quieres adquirir, cuánto cuesta y la fecha estimada de compra, y nosotros te
                            ayudaremos a crear un plan de ahorro personalizado. Con nuestra herramienta, podrás
                            distribuir tus ingresos de manera estratégica para alcanzar tus metas financieras sin
                            comprometer tu bienestar económico presente.
                        </p>

                    </div>
                    <br>
                    <br>
                </div>
                <div class="service-item">
                    <div class="service-img mx-auto">
                        <img class="rounded-circle w-100 h-100  p-2 rotate-on-hover"
                            src="../../../../assets/como-hacer-un-informe.jpg" style="object-fit: cover;">
                    </div>
                    <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                        <h4 class="font-weight-semi-bold mt-5 mb-3 pt-5">Informes Detallados</h4>
                        <p>Tendrás acceso a una visión completa y detallada de tus datos financieros. Nuestra plataforma
                            te ofrece la posibilidad de visualizar tus ingresos, gastos, patrones de consumo y
                            tendencias financieras de manera clara y concisa. Con gráficos interactivos, tablas
                            informativas y filtros personalizados, podrás analizar tus finanzas con precisión y tomar
                            decisiones informadas.
                        </p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>