<app-header></app-header>
<div class="header"></div>


<div class="containerDi container background-image">


    <div class="row">
        <div class="col-12">
            <h3>Plan De Ahorro</h3>
            <br>
            <h5 class="texto">En esta web, puedes calcular tu objetivo de ahorro de dos formas:</h5>

            <ul class="texto">
                <li>Por Fecha: Ingresa la cantidad total que deseas ahorrar <br> y la fecha en la que
                    deseas alcanzarlo. Te diremos<br> cuánto necesitas ahorrar mensualmente.</li>

                <li class="pt-2">Por Ahorro: Ingresa la cantidad total que deseas ahorrar<br> y cuánto puedes ahorrar
                    mensualmente. <br>Te diremos cuánto tiempo te tomará alcanzar tu objetivo.</li>
            </ul>
        </div>
    </div>
</div>


<br>
<br>

<div class="container-fluid">

    <app-tabs></app-tabs>
</div>


<app-footer></app-footer>