<app-header></app-header>
<div class="header"></div>

<br>

<div class="containerDi container background-image">



    <div class="row">
        <div class="col-12 pl-5 ml-15">
            <div class="text-container">
                <h5> ¡Controla tus gastos de forma más fácil y
                    divertida con <strong>GastoInteligente</strong> !
                </h5>
                <h5> Con nuestra app, tus gastos mensuales se
                    categorizan automáticamente,<br> ¡así podrás ver en qué gastas cada mes de un vistazo!
                </h5>
                <h5> No importa si eres un master en finanzas
                    o apenas estás empezando<br> a manejar tu dinero, ¡aquí estamos para ayudarte! Nuestro objetivo<br>
                    es darte
                    las herramientas y la info que necesitas para manejar tus<br> finanzas de forma inteligente y
                    eficaz...<br>
                    ¡sin aburrirte en el intento!</h5>

            </div>
        </div>
    </div>
</div>

<app-home-seg-parte></app-home-seg-parte>
<app-home-ter-parte></app-home-ter-parte>


<app-footer></app-footer>