<app-header></app-header>
<div class="contenido" id="politica-privacidad">
    <h2>Política de Privacidad</h2><br>

    <section>
        <h3>Introducción</h3>
        <p>
            En
            <strong>gastoInteligente</strong>, estamos comprometidos con la protección
            de la privacidad de nuestros usuarios. Esta Política de Privacidad explica
            cómo recopilamos, utilizamos, compartimos y protegemos la información
            personal que recopilamos a través de nuestro sitio web. Al utilizar
            nuestro sitio, usted acepta las prácticas descritas en esta Política de
            Privacidad.
        </p>
    </section><br>

    <section>
        <h3>Información Que Recopilamos</h3>
        <p>
            En <strong>gastoInteligente</strong>, recopilamos varios tipos de
            información para brindar y mejorar nuestros servicios para usted. Esto
            puede incluir información proporcionada directamente por usted, como su
            nombre, dirección de correo electrónico y cualquier otra información que
            elija proporcionar, así como información recopilada automáticamente, como
            la dirección IP de su computadora, tipo de navegador, páginas visitadas y
            la duración de su visita.
        </p>
    </section><br>

    <section>
        <h3>Uso De La Información</h3>
        <p>
            Utilizamos la información que recopilamos para personalizar y mejorar su
            experiencia en nuestro sitio web, responder a sus consultas y
            proporcionarle información relevante sobre nuestros productos y servicios.
            También podemos utilizar la información para fines de investigación
            interna, análisis de datos y cumplimiento de nuestras obligaciones
            legales.
        </p>
    </section><br>

    <section>
        <h3>Divulgación De Información a Terceros</h3>
        <p>
            No compartimos, vendemos ni alquilamos su información personal a terceros
            sin su consentimiento, excepto según lo requiera la ley o como se describe
            en esta Política de Privacidad. Podemos compartir su información con
            proveedores de servicios de confianza que nos ayudan a operar nuestro
            sitio web y brindarle servicios, siempre y cuando estos proveedores
            acepten mantener la confidencialidad de su información.
        </p>
    </section><br>

    <section>
        <h3>Cookies</h3>
        <p>
            Utilizamos cookies y otras tecnologías de seguimiento para recopilar
            información sobre cómo utiliza nuestro sitio web y mejorar su
            funcionalidad. Puede optar por desactivar las cookies en la configuración
            de su navegador, pero esto puede afectar la funcionalidad de nuestro sitio
            web.
        </p>
    </section><br>

    <section>
        <h3>Enlaces a Otros Sitios Web</h3>
        <p>
            Nuestro sitio web puede contener enlaces a sitios web de terceros que no
            están bajo nuestro control. Esta Política de Privacidad no se aplica a
            esos sitios web, por lo que le recomendamos que revise las políticas de
            privacidad de esos sitios antes de proporcionar cualquier información
            personal.
        </p>
    </section><br>

    <section>
        <h3>Cambios En Esta Política</h3>
        <p>
            Nos reservamos el derecho de actualizar o modificar esta Política de
            Privacidad en cualquier momento y sin previo aviso. Cualquier cambio
            entrará en vigencia inmediatamente después de su publicación en esta
            página. Le recomendamos que revise esta página periódicamente para estar
            al tanto de cualquier cambio.
        </p>
    </section><br>

    <section>
        <h3>Contacto</h3>
        <p>
            Si tiene alguna pregunta sobre esta Política de Privacidad, comuníquese
            con nosotros a través de
            <a href="mailto:gastospersonalesproyect@outlook.es">gastospersonalesproyect&#64;outlook.es</a>.
        </p>
    </section>
</div>




<app-footer></app-footer>