<app-header></app-header>
<div class="header"></div>

<!--
<div class="container-fluid py-5 ">
    <div class="container py-5 border-radius">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100 primeraImagen" src="../../../assets/mujerAhorrando.jpeg" alt="">
            </div>
            <div class="col-lg-6">

                <div class="row pt-3">
                    <div class="col-12">
                        <div class="bg-light text-center p-4">
                            <h1 class="mb-4">Calculadora de gastos y presupuestos familiar</h1>

                        </div>
                    </div>

                </div>

                <br>
                <p class="pl-4 border-left border-primary introduccion"> Utiliza la calculadora de presupuesto mensual
                    para analizar cómo se reparten tus ingresos entre tus gastos fundamentales y tus ahorros. </p>
            </div>
        </div>
    </div>
</div>

<br>
<br>-->

<div class="containerDi container background-image">


    <div class="row">
        <div class="col-12 pl-5 ml-15">
            <div class="text-container pt-4 mt-5">
                <h1 class="mb-4">Calculadora De Gastos y Presupuestos Familiar</h1>
                <h5 class=" border-left border-primary introduccion"> Utiliza la calculadora de
                    presupuesto mensual
                    para analizar cómo se reparten<br> tus ingresos entre tus gastos fundamentales y tus ahorros.<br>
                </h5>


            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>


<div class="container py-5 primerContenedor border-radius p-3">

    <div class="container py-5 segundoContenedor">
        <div class="row align-items-center">

            <div class="col-lg-12">

                <div>
                    <h4 class=" font-weight-semi-bold">¿Cómo Usar La Calculadora?</h4>
                </div>


                <br>
                <p class="pl-4 border-left border-primary introduccion text-center"> Para utilizar la calculadora,
                    simplemente
                    ingresa tus estimaciones de gastos y ajusta las cantidades según tus necesidades específicas.
                    Una
                    vez completado, recibirás un resumen detallado que te ayudará a tener un mejor entendimiento de
                    tus
                    gastos en el hogar. </p>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<!-- calculadora.component.html -->




<app-form-acordeon></app-form-acordeon>
<br>
<app-listar></app-listar>
<br>
<br>
<br>








<app-footer></app-footer>